<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DeviceCertificate</key>
	<data>
	LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUN1akNDQWFLZ0F3SUJBZ0lCQURB
	TkJna3Foa2lHOXcwQkFRVUZBREFBTUI0WERUSTJNREl3TXpJd01qQXkKTUZvWERUTTJN
	REl3TVRJd01qQXlNRm93QURDQ0FTSXdEUVlKS29aSWh2Y05BUUVCQlFBRGdnRVBBREND
	QVFvQwpnZ0VCQUpKMjVuVXo4WlA5dWFHWWphWVF1QjVxQnl0Snp3TnBEckQrRjVSbnpl
	R1JoK2hBcXRnSXQvcmdUOVg4CnFUaCtzNUxkY1Y3c245T1YwU3RyaVRhTm94bVZNb0Vu
	Y2Z4dzVoS0FyL3BFZCtsMXprR1dMa3lWbkV1L1FmdjMKQlZmVEhWVEpEZzF1VkFzaEZr
	Y3RBMlZqQUd0MlVwZWV3TVlPbG80Wnc2MGNJdW5rYXByU1VFaTYxbDkzUGZ1QQpOeXZj
	OUxMS0hpVzZUakRXYXlNZ3R1KzFIc1ZJV2JVL2t3a0FDdDdmUHFvb1hCcWFZeE9TbEdw
	T1dUVHU5QWtjClluaXlhdVk4TitlTHJoMlFabEhRR3A1TzJGc0ZoQkIwSmRhR2lpM3BX
	QWo0OWJyVFBwN2hRRUMwMWpUOTh5ZGYKVmJqb0NaYnV3azladGJqSW9lYTludXlPbjIw
	Q0F3RUFBYU0vTUQwd0RBWURWUjBUQVFIL0JBSXdBREFkQmdOVgpIUTRFRmdRVXI0WklR
	R0ltSUtBaDBtYlJFNW80WUxYd1hGc3dEZ1lEVlIwUEFRSC9CQVFEQWdXZ01BMEdDU3FH
	ClNJYjNEUUVCQlFVQUE0SUJBUUFrK3BIdkpWaXkvcHhWUkRGTFhUQjIrd0l6ejNFbTZX
	alRzWjB4dERDSGdMcjAKQW5LdzdPZStWM0gwSjg0L2Q2Y1FrYzQ3azlJQkppQ0NTTmdV
	QXJVVS9LUEE3eUI2cDNSb1gxeXZNREFqQTExQQphNTI3ZjVmZVRxSm84VU5aQkZTUGpt
	L0dobGk1dTN6YUtyOWU2dHE0dXFTSTZuMWlIZldwTXp6dm9tN1hSb1N6CllheDUxamZo
	cExpcUVJOXpsRVpCZ3VPNzBLT3g1WkUvQVh1aGlHRkJOajBUSkxtd2l5c2xLQ05PK3A3
	STdvN3YKTHJjRmxHayt6Wm5KY2xkcFBGenpoRG43Mm5FMHpPc29CSlkxOTNoZ3NVY0V6
	OVRTbzJkeTlIUnBMcDQvZ0N3VApRcmowWi9SM1llTGVuWjdBWHR3blpsQmpLbUVxempB
	RlZZb0VwY29jCi0tLS0tRU5EIENFUlRJRklDQVRFLS0tLS0K
	</data>
	<key>HostPrivateKey</key>
	<data>
	LS0tLS1CRUdJTiBQUklWQVRFIEtFWS0tLS0tCk1JSUV2Z0lCQURBTkJna3Foa2lHOXcw
	QkFRRUZBQVNDQktnd2dnU2tBZ0VBQW9JQkFRRGdKcVpwR1dpTnRBZmwKRkJBVzhybERn
	UTZxbHd2SVRuNG92N0Fwd25iK1prekpKMXVjVnduVjZEbGlaMVFFaVgwUGtCQTBiSEFk
	alNRMwo4bStLNVlpZDNUUzlwM2VKM3hoc0RkUG5Ka1I5U3dLVk51Rlp5Zlhsa0JYaXBq
	UTFwZWlrN2pBS2dITFQxWDVYCk1yTDY0RVVqRFo2aXA3Y1hJb254VkdhakZEWm4zMHZt
	OG8zdU5Md2ZYcHZvYUFQa3laazdkRStEeWlLR1BGVXkKbU5WMkxlL3ZIajArTVlHaU5o
	YU9PdFMzWThoUmh4SXlQb253c2dXQ1RWY2NrMTJ3bTdFd0ZOT2g4RlhQbnZ2LwpMdFU2
	WUZJa1IvL3dCazhUSnE1dEtDUE1lL0F3Rm5nVDhReVR1SU1wdUpDS1hySS9YWUxuMm9F
	NXdiZG1nN3B5CmpaTEZ0SlJ0QWdNQkFBRUNnZ0VBU1F5UGd3VGl5L3QxN3pRQW9sbnNB
	cEhXbzhXaDgxK1JRZHBtb05WZFRqOHMKbXdtV2szYlNIOElVb1hzbktHdGVOR293dmNU
	eExOQklrMnNRNnVVdkJyT0djcUJYRnJsOERncmJtaU1nZ3V5bApKTmZEelMxQ1U5UUhM
	ZHdZZTd0Yi9CUWIxL0JRZTdUQi9jenFBMVIvYzVNR3RkK09qWjJWOHU0Y25OMERkZ24x
	ClZjeisza0xrK3V5Rk1HTHA5eWJZa2h0OFlUcDlaN3lMK1BzclAxOWZWMmkvT01ZZ3hG
	UzdhR2lQNzRlajB0QkcKSW5ZSWQ3aElhWUVWK3IxVEpsQ1BZd1grY29BcTMxVURZUGwx
	aExCZmg4ejJ2RkVVUkx0K2RkdklRUmJYMG01bwp3SFhVMU1SUG8zbzVseDZ6dVFMMWZF
	RmI2QXlabUpQMW9qUjFoZWw5eVFLQmdRRDFoRFpsNktJTTFWNUhsSWMxCnUrWmNreDZJ
	cjRDeHZseEczTlQxSE9HWDNmSkxSNThMMHljcWFDWFk1cEpDaGNrSjkyc0dmNldJNGZT
	d1J4ajUKTUhrS0hkakZPU3NQeW5NUG5ibEI5c04xbGFiRDY2ckNNZFdyVHdZMVYwWE5w
	dU9ZZ0lhUkxWL2RlTjdFcVIwdwprWHNsTXJyTU50LzYvWmQxbHZTT2dZNy9sd0tCZ1FE
	cHVPTXMyVjcyTFdKbURtZTl0c1VWU0p6eHpaQndXTGRnCjVyWTd2NmNGeU9zTGJXODU5
	Ky9ocU1GWEdkMzQxVnFodHlzZStncVhaK3ZyYTdKZWd3UDR2L0gyM05BajlpcVMKaUdG
	V05IYXJ5Nklqa3V4SnRrbi9lMDlWYUlwN2dYb1VzQ0MwTHRZMWpRL1JMNFdhQ2R1VGNG
	WldoUVZ2V1V4ZgpEcnEvdVpsTW13S0JnUURBenBxVnYzSjdsNWlacUJmaTUvUUpvWE9x
	TGdGb0ZMR002T0hJdUd5bGdpUkVZRE9UCjZyZm9RcS91UFd5QkYyV0JFUytZZytmd3Js
	b2xrVUFZZWF1a2VUb0I4RnBUNVU0azVsMVZZeit1ZU43bEg0OFQKUUdXblNjRDdaTlVw
	b3JVN3p6dGVpWDZ1Zzd5V1BxVHd2bDh5SUR1NElpUVZqTTlFQms5NkZsN0Jjd0tCZ0Q4
	UAo3dVFFQnJaZnlvUUU4UUxrVk1zSVc2aDJzYmxPaHJRenJBbjFEVWpuVEZ3NSs5L2xR
	U2xmRWtQQksvNWUrdVJWCmV1SVJ6MWZJNTRRTy9BSzZVUkVHSVhCZFpoKzk1UURDb1pq
	VDhRMHJsYVVKbUkzUERLcE5pRHRnU0xWSVd6dEgKeHBzM1kvN3cvOHFPaXZya0hBWHRN
	cTZIbDg3U2htUERvcW5tbHpGdkFvR0JBTXZOenBMWFgvSVhsY2t1OHlHMQprTWpGb2pV
	SUl5RENFZUFEUG5YM09vZCt3TCtJREZRVXVsdVVXWjFKZkZkNXJLRFpacE40Nk5vMHF5
	Z0IyMDR1CkZRL0hlR1BRMUxZMHVWS0REQ1NKNy9XSUVRV3hrVkE5aXZockVZRWxob1VD
	R21lQnN1UHQ3ZVJnbnA3QXdiQisKMndFM0FXVjBVbDVnY2JxaGJjbHlQUExuCi0tLS0t
	RU5EIFBSSVZBVEUgS0VZLS0tLS0K
	</data>
	<key>HostCertificate</key>
	<data>
	LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUNtekNDQVlPZ0F3SUJBZ0lCQURB
	TkJna3Foa2lHOXcwQkFRVUZBREFBTUI0WERUSTJNREl3TXpJd01qQXkKTUZvWERUTTJN
	REl3TVRJd01qQXlNRm93QURDQ0FTSXdEUVlKS29aSWh2Y05BUUVCQlFBRGdnRVBBREND
	QVFvQwpnZ0VCQU9BbXBta1phSTIwQitVVUVCYnl1VU9CRHFxWEM4aE9maWkvc0NuQ2R2
	NW1UTWtuVzV4WENkWG9PV0puClZBU0pmUStRRURSc2NCMk5KRGZ5YjRybGlKM2ROTDJu
	ZDRuZkdHd04wK2NtUkgxTEFwVTI0Vm5KOWVXUUZlS20KTkRXbDZLVHVNQXFBY3RQVmZs
	Y3lzdnJnUlNNTm5xS250eGNpaWZGVVpxTVVObWZmUytieWplNDB2QjllbStobwpBK1RK
	bVR0MFQ0UEtJb1k4VlRLWTFYWXQ3KzhlUFQ0eGdhSTJGbzQ2MUxkanlGR0hFakkraWZD
	eUJZSk5WeHlUClhiQ2JzVEFVMDZId1ZjK2UrLzh1MVRwZ1VpUkgvL0FHVHhNbXJtMG9J
	OHg3OERBV2VCUHhESk80Z3ltNGtJcGUKc2o5ZGd1ZmFnVG5CdDJhRHVuS05rc1cwbEcw
	Q0F3RUFBYU1nTUI0d0RBWURWUjBUQVFIL0JBSXdBREFPQmdOVgpIUThCQWY4RUJBTUNC
	YUF3RFFZSktvWklodmNOQVFFRkJRQURnZ0VCQUVwSmxkbVlwTUp3MXRmOFFFSVhCSENX
	CkdOOUVwaWJzcXk2MFJMd2lBYXFCek1RTGJhMFlYUWtaRTJuVGZzSFdmUTdSaThGUXZK
	eW1HM1JaVjFGOUdRbTYKVS9lUGhBdjNNQ3NSM1ZHZld4NndFSFdRbDNONHFCWjgzNk1J
	OHZLYjZSdEdZVXRZSW9WcndidXptVUZxSXl5WQoyOUsvRUlsNTRFS292RUNJZnc3Smly
	NVRadGVTdGUyRGZqU0tlWVV5UVd2MEJFZFBUZU5qcHgvcG5Id2JjZ3A5CmpLeUF1ZWlt
	WDFNSUJwWW5WQms0a1dtNGYyS0FzdGNBVjk1c0s2Tms0eU1MeWptUWlHSGp1STcvaWl2
	aWVFWloKYWtEeGxpUDYyc3FTckQ2Ym5LS1hocmJwWE4xQmc0YkhhazY3bUJvdlZicW8z
	dWF4S0kweldHR2Z3amx3MHJrPQotLS0tLUVORCBDRVJUSUZJQ0FURS0tLS0tCg==
	</data>
	<key>RootPrivateKey</key>
	<data>
	LS0tLS1CRUdJTiBQUklWQVRFIEtFWS0tLS0tCk1JSUV3QUlCQURBTkJna3Foa2lHOXcw
	QkFRRUZBQVNDQktvd2dnU21BZ0VBQW9JQkFRQzVNd1VQb2FXQVUzeDYKb1dzWkFoNWh6
	azk5b2tYaWkxZGxYaG43eE5pVzdxeGd1YmdLWUpYTENVSGhSRHlpMC9yeUFpR3AyUm92
	dzFmTwovYkZvejN4b20yaUlvOUJjWW9KUzZpeCtpaTNjREZnZGRJdGVlOUlweUUvT1RY
	RWhpTS9vWGluMW1wYzFZNlpkCnF4enpKaGU1SXRJcmZPT2FWYzIyVFQ0RzJtNFVzS1FN
	cHRhMHlqSlJoVGNHUE9TM1F3TmNtdmloeGxBZVJaZTMKTmdYZGZsa1E0TlpxbFVpckZr
	UHZSYnBCQ2JUN2hZWUExczliOUdLWCtkOTdyM1laNjVSUkQzeW5IQXIyb3R1awpNS1Rx
	b25kMWRoc0YrM1BkVVMwZFl3OStqVEJwMElpTUpieFJOTjNMd0xUS0I4dVZ0cnhBSFk4
	NUhpcGErUWJSCi9WV1VTOTB4QWdNQkFBRUNnZ0VCQUpXcmFkZXNKM2lDQUFPTEdHWnBr
	K3d2TTRhdzhoR1gwdFdWS3lLUmZ3amIKY212cEs1Y1hYM2RxejljaHNtOVZLV1VUMitq
	TUQ2R3lHUENyamdqS1JoeTBHOUx4c0o0NDdtSGI1b0dOWW1xSApmMTZ1cFVPQ2hlSkdo
	RmlSdFhBSWhSMmhtLzlsSS9aOXhpSEUrK3gxU0k3U1dVL1Q2b3o3OHZmMWpMODFIK21Q
	ClIwODZ3amRyS2ZzaVVPMkNiWHRCOWNNNkNSUEN0TlBNMXdUUjdTcndPcmcwMHNJeEEw
	dGhPdFAyMFYzRWM3bkMKN0dxZnc5LzZENEF2UVM1RjFZYWVFOEYxczBWQ2ZpL2RJczha
	Skp4cCs2WDgxSXM3eFBlRyt1c3VOcXhUeXhPcwpwaFQrT0Y0YjVIekFCTkZXRjE4T1NV
	OTUydjBqNW5xNWw3cmtKZmdnTVZFQ2dZRUE1ZUxSL3ZxS0VLTXFyY0cwCmJVc2xuM2hx
	cy9KVjd5NnEzREpTVWVLa0VLZWpjd0NYY2JBZGhpbmlEWkR0bFg0MEJLUXpFaWxadGVV
	SGV3czUKZGJxY0hyTktBSmltbVB1eUdvYWFvOEtydThjczNoVldFQ21XNllzUnNDdWNP
	SDdidjZUY0VtTUFCTjdSMFIycQpVSm11RFd5dlRnajJQTDJyakNlTTZLNE5KbE1DZ1lF
	QXpqeXcrS2wyUjIzVnhTVkY5bm42MnQzS1BlM1pqVnBsCmtleUR1Rk5xR1lGR0pzNmJN
	T3R4cWdHTVo1WDJMc1dkUTZqekY3TnFvZVpjbGpkNEt2WngvMlJOMTgwQlNqZm4KU1lQ
	WDFucUxybHdpVTNhMHFZb2FIQXJxekJDWVJIYVdPOHY4b1ltNkduSG93TC92c3YwK2N0
	enRlcUpLRGVpZwppNFhJWHY4N3Rlc0NnWUVBMERScU5TRDh3cXpGRHJJTms1OG42QkxM
	c1VhZWhnNGlPV1JxSWplK21FYjhSa0FXCjZhUzBXTHErUGNNeEt1QXVoTFdpZTZSdjE4
	b2l5RklXTElaaXQzdHlYcS9pMDFQQ3J6dVIreGRwS3B6dUNnWVEKK0hweWIvckFmbXBC
	QnZuK1ZNZ2ZlWmVvZ01DK0QwTnE2YTBHY3FvbzYrZzUvREZjbVllSW00Um43SGtDZ1lF
	QQpnQ2RPZ1BZc3ZXNE83QmFoUnV1OWFjdHdKTk5yNEY1UHgwR0ZDRUV0S1BRZnQzV2pF
	ZDc4SG53ZjF5NWtiK1AwCk9WciswN2QxaDIweUUxWWNvZlhLR0wwbmNmVzkyM1Nwa0JF
	UlNnR1VVcUNGNC85YmZBNkk4dXdGd3hCOHplNHkKcEsyNUtsZi9BUGZQZmhiR3lCNTlj
	N3E5QnZ0WnNSTGcwRkl0bEhwZGpFa0NnWUVBMlNPVTd1bFNhRWgwdG5kaQo2enIyS0t2
	NGFXR1J3dUNPR2xxOWxBL3FMdStSUmFKUXEvRmNQYjhxSlY1OXdWVm1oSXlsVFZmUHB3
	a0Q1bDJWCkFBeXpoS1NBTjBPSURucVg2NGc0N1VrL3Y1ZUxZb2lua3g3d09ka0I0S2lu
	YVJSUk1EK0pxMDY5ZWpZOGpVSGgKc2hFekRDVERkTUU2Njh3UXhOeTZvUUE0aitvPQot
	LS0tLUVORCBQUklWQVRFIEtFWS0tLS0tCg==
	</data>
	<key>RootCertificate</key>
	<data>
	LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUNqakNDQVhhZ0F3SUJBZ0lCQURB
	TkJna3Foa2lHOXcwQkFRVUZBREFBTUI0WERUSTJNREl3TXpJd01qQXkKTUZvWERUTTJN
	REl3TVRJd01qQXlNRm93QURDQ0FTSXdEUVlKS29aSWh2Y05BUUVCQlFBRGdnRVBBREND
	QVFvQwpnZ0VCQUxrekJRK2hwWUJUZkhxaGF4a0NIbUhPVDMyaVJlS0xWMlZlR2Z2RTJK
	YnVyR0M1dUFwZ2xjc0pRZUZFClBLTFQrdklDSWFuWkdpL0RWODc5c1dqUGZHaWJhSWlq
	MEZ4aWdsTHFMSDZLTGR3TVdCMTBpMTU3MGluSVQ4NU4KY1NHSXoraGVLZldhbHpWanBs
	MnJIUE1tRjdraTBpdDg0NXBWemJaTlBnYmFiaFN3cEF5bTFyVEtNbEdGTndZOAo1TGRE
	QTF5YStLSEdVQjVGbDdjMkJkMStXUkRnMW1xVlNLc1dRKzlGdWtFSnRQdUZoZ0RXejF2
	MFlwZjUzM3V2CmRobnJsRkVQZktjY0N2YWkyNlF3cE9xaWQzVjJHd1g3YzkxUkxSMWpE
	MzZOTUduUWlJd2x2RkUwM2N2QXRNb0gKeTVXMnZFQWRqemtlS2xyNUJ0SDlWWlJMM1RF
	Q0F3RUFBYU1UTUJFd0R3WURWUjBUQVFIL0JBVXdBd0VCL3pBTgpCZ2txaGtpRzl3MEJB
	UVVGQUFPQ0FRRUFkZWJXNm9xL3BSTVZETjdCNGZ6SXQ0YzlCSnYwNzJscGJUT052ZUI3
	CmhZMDhlNjgxMGVjbkRhZ2M2QU02andEeGtKc0lFdFd1bFVzczZzT1c2eDQwcXpHMlMw
	UzIvNWdOd1ExZHN4elQKOHZuS2dybmFxa0FCamxPVG1VZHRMYmJBS05XRklJVUo3OC9q
	V3VOczVpd0VKWk9Pb2FXRlMwVlZzMzduZVVwYgp0dFJDUU9HNENmTGdyUHEyMjBjUlZ1
	ZjNDNXc0MEFkWTArVWxaaU9xRjdzL1BJVkJDQnZvYzY0WGEvTlVOQUNZCnVPUzFlcHdV
	NjFZY0dvaEJ3TnliVG1ZK3ArV1g5eGtmZnI5Mk5YOExRME96RTltTk9KVy95Y0xabEVi
	cmRQNlgKNUlVYkV4SnA5NzZodTBhYXZOSlUxVjJLbE9XMXltb0hCUjg2KzU2R1hzV3p2
	QT09Ci0tLS0tRU5EIENFUlRJRklDQVRFLS0tLS0K
	</data>
	<key>SystemBUID</key>
	<string>311331203252197001985415124</string>
	<key>HostID</key>
	<string>8C72B4D8-21F1-59EF-1CC6-5372EE5C6E08</string>
	<key>EscrowBag</key>
	<data>
	y1E99YmX5PVn/jvJEY32Jcqji2FO8/i20XujmfSvTuA=
	</data>
	<key>WiFiMACAddress</key>
	<string>70:3c:69:bb:72:a2</string>
	<key>UDID</key>
	<string>00008020-001A119C02C3002E</string>
</dict>
</plist>
